.places {
    max-width: 984px;
    margin: 0 auto;
    display: grid;
    gap: 80px;
  }
  @media (min-width: 769px) and (max-width: 1024px) {
    .places {
      max-width: calc(100% - 96px);
    }
  }
  @media (min-width: 426px) and (max-width: 768px) {
    .places {
      max-width: calc(100% - 48px);
      gap: 73px;
    }
  }
  @media (min-width: 426px) and (max-width: 768px) {
    .places {
      max-width: calc(100% - 48px);
      gap: 50px;
    }
  }