.lead{
    display: flex;
    flex-direction: column;
    max-height: 1005px;
    max-width: 984px;
    margin: 0;
}
@media screen and (max-width: 1024px) {
    .lead {
      max-width: 90.625%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .lead {
      max-width: 100%;
    }
  }