.header {
  max-width: 100%;
  display: flex;
  justify-content:space-between;
  align-items: flex-start;
  box-sizing: content-box;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .header {

  }
}

@media (min-width: 426px) and (max-width: 768px) {
  .header {

  }
}

@media (max-width: 425px) {
  .header {

  }
}
