.cover {
  margin: 0 auto 92px;
  max-width: 1184px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .cover {
    max-width: 100%;
    margin: 0 auto 92px;
  }
}
@media (min-width: 321) and (max-width: 769px) {
  .cover {
    max-width: 100%;
    margin: 0 auto 88px;
  }
}
@media (max-width: 320px) {
  .cover {
    max-width: 100%;
    margin: 0 auto 64px;
  }
}