.place {
  margin: 0;
  display: grid;
  grid-template-columns: minmax(440px, 460px) minmax(456px, 484px);
  grid-gap: 48px 40px;
}
@media (min-width: 780px) and (max-width: 1024px) {
  .place {
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px 32px;
  }
}
@media (min-width: 320px) and (max-width: 779px) {
  .place {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 48px 28px;
  }
}
@media (max-width: 320px) {
  .place {
    grid-template-columns: 1fr;
    grid-gap: 32px 0;
  }
}


