.footer {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  row-gap: 92px;
}

@media (max-width: 767px) {
  .footer {
    max-width: calc(100% - 32px);
    flex-direction: column;
    row-gap: 48px;
  }
}
