.cover__item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.3);
}
.cover__item:hover{
    background: rgba(0, 0, 0, 0.8);
}
